.toolbar {
    height: 25vh;
    background-image: linear-gradient(
        to right,
        #0E86FF, rgb(113, 189, 236)
    )
}

img.logo {
    height: 6rem;
}

.toolbarNavigation {
    display: flex;
    align-items: center;
    height: 100%;
    color: #E7F1F7;
    font-size: 20px;
    width: 100%;
    box-shadow: 1em
}

.toolbarNavigationItems {
    display: flex;
    align-items: center;
}

.toolbarNavigationItems ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 6rem;
    font: #0E86FF;
}

.toolbarNavigationItems li {
    padding: 1rem
}

.toolbarLinks {
    padding-left: 10rem;
}

.map {
    width: 100%;
    height: 100%;
    /* margin-top: 20vh; */
}

.extendedToolbarWeather {
    height: 19vh;
    background: grey;
    box-shadow: 2px 0px 5px black;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    font-size: 0.5em;
}


.open {
    transform:translateX(0);
    transition: transform 0.4s ease-out;
    height: 25vh;
    background: grey;
    /* opacity: 0.3; */
    box-shadow: 2px 0px 5px black;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    font-size: 0.8em;
}

.closed {
    color: blue;
    transform: translateX(100%)
}

.toolbarData {
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #E7F1F7;
    font-size: 1rem;
    height: 3rem;
    border-radius: 4px;
}

.toolbarNavigationItems button:hover,
.toolbarNavigationItems button:active {
    color: #f2af58;
}