.toolbar {
    height: 20vh;
    background-image: linear-gradient(
        to right,
        #0E86FF, rgb(113, 189, 236)
    )
}

img.logo {
    height: 6rem;
}

.toolbarNavigation {
    display: flex;
    align-items: center;
    height: 100%;
    color: #E7F1F7;
    font-size: 20px;
    width: 100%;
}

.toolbarNavigationItems {
    display: flex;
    align-items: center;
}

.toolbarNavigationItems button:hover,
.toolbarNavigationItems button:active {
    color: #f2af58;
}

.toolbarNavigationItems ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 6rem;
}

.toolbarNavigationItems li {
    padding: 1rem
}

.toolbarLinks {
    padding-left: 10rem;
}

.map {
    width: 100%;
    height: 100%;
    margin-top: 20vh;
}

.extendedToolbarWeather {
    height: 19vh;
    background: grey;
    box-shadow: 2px 0px 5px black;
    position: fixed;
    top: 0;
    right: 0;
    width: 62%;
    font-size: 0.5em;
}

