body {
    font-family: 'Righteous';
}

.toolbar {
    height: 20vh;
    background-image: linear-gradient(
        to right,
        #0E86FF, rgb(113, 189, 236)
    )
}

img.logo {
    height: 6rem;
}

.toolbarHeader {
    display: flex;
    align-items: center;
    height: 100%;
    color: #E7F1F7;
    font-size: 20px;
    width: 100%;
    box-shadow: 1em
}


.toolbarText p {
    padding: 0;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 0;
}

.toolbarText h1 {
    margin-bottom: 0;
}


.toolbarData {
    display: flex;
    justify-content: space-around;
}

.toolbarItem {
    border-right: 4px solid #F2AF58;
    padding-right: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* .toolbarItem h2 {
    margin: 0;
    padding:0;
} */

.toolbarItem p {
    font-size: 1.4rem;
    margin-top: 0;
    color: #E7F1F7;
}



.map {
    width: 100%;
    height: 100%;
}

.extendedToolbarWeather {
    height: 19vh;
    background: grey;
    box-shadow: 2px 0px 5px black;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
}


.open {
    transform:translateX(0);
    transition: transform 0.4s ease-out;
    height: 25vh;
    /* opacity: 0.3; */
    box-shadow: 2px 0px 5px black;
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    font-size: 1rem;
    padding-left: 2rem;
}

.closed {
    color: blue;
    transform: translateX(100%)
}

button {
    background-color: #E7F1F7;
    font-size: 1rem;
    height: 3rem;
    border-radius: 4px;
    transition: 0.5s;
}

button:hover {
    background-color: #A4C9DF;
}
